<div class="row toolbar">
	<ul class="inline">
		<li>select: </li>
		<li><a href ng-click="dashboard.dateFilter('all')">All</a></li>
		<li><a href ng-click="dashboard.dateFilter('year')">Year</a></li>
		<li><a href ng-click="dashboard.dateFilter('month')">Month</a></li>
		<li><a href ng-click="dashboard.dateFilter('week')">Week</a></li>
		<li><a href ng-click="dashboard.dateFilter('today')">Today</a></li>

		<li>
		| Participant: 
			<select name="" id="">
				<option >Select Participant</option>
				<option ng-repeat="p in dashboard.participants" value="{{p.id}}">{{p.name}}</option>
			</select>		
		</li>

		<li>
	        | <input type="checkbox"> My Meetings only
		</li>
	</ul>
    <a class="btn btn-default pull-right" ng-href="#/connect" >
        <i class="fa fa-user-plus"></i> Create New
    </a>            
</div>
<div class="row">
	<table class="table">
		<tr>
			<td>Date(From)</td>
			<td>Date(To)</td>
			<td>Time(From)</td>
			<td>Time(To)</td>
			<td>Duration</td>
			<td>Participants#</td>
			<td>Status</td>
		</tr>
		<tr ng-repeat="appointment in dashboard.appointments  
				| dateRange:dashboard.startDate:dashboard.endDate">
			<td>{{appointment.fromDate | date:'MM/dd/yyyy'}}</td>
			<td>{{appointment.toDate | date:'MM/dd/yyyy' }}</td>
			<td>{{appointment.fromTime | date:'HH:mm a'}}</td>
			<td>{{appointment.toTime | date:'HH:mm a'}}</td>
			<td>{{appointment.Duration}}</td>
			<td>{{appointment.participants}}</td>
			<td>{{appointment.status}}</td>
		</tr>
	</table>				
</div>